.vooddo-player
{
  margin-top: 5px;
}

#vooddo_exportable input
{
  margin-left: 1em;
}

#vooddo-metabox table
{
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: #EDEDED;
  border: solid 1px #DDD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#vooddo-metabox input
{
  border: solid 1px #CCC;
}

