.vooddo-player
{
  margin-top: 5px;
}

#vooddo_exportable input
{
  margin-left: 1em;
}

#vooddo-metabox table.vooddo
{
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: #EDEDED;
  border: solid 1px #DDD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#vooddo-metabox input
{
  border: solid 1px #CCC;
}

#vooddo-metabox .description
{
	font-size: 11px;
	font-style: italic;
}

.vooddo-error-box
{
	background-color: #ffebe8;
  border: 1px solid #dd3c10;
  padding: 10px;
  font-weight: bold;
	margin-bottom: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
}
